* {
  margin: 0;
  padding: 0 auto;
  box-sizing: border-box;
  //outline: 1px red solid;
  transition: all 0.3s ease-in-out;
  user-select: none;

}

body {
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

